g {
	font-family: Arial;
}

v {
    font-family: Georgia;
}

c {
    font-family: Verdana;
}

j {
    font-family: "Trebuchet MS";
}

k {
    font-family: Impact;
}

o {
    font-family: "Arial Black";
}

y {
    font-family: "Comic Sans MS";
}

r {
    font-family: "Courier New";
}