h2.zzz {
	color: red;
}


h2 .zzz {
	color: red;
}


.bbb.zzz {
	color: red;
}


.bbb .zzz {
	color: red;
}


.bbb.zzz.xxx {
    color: red;
}


.bbb .zzz.xxx {
	color: red;
}


.bbb.zzz .xxx {
	color: red;
}


.bbb .zzz .xxx {
	color: red;
}


#elem.bbb {
	color: red;
}


#elem .bbb {
	color: red;
}