#elem1 {
    width: 200px;
	height: 200px;
	border: 1px solid green;
	border-radius: 30px;
}

#elem2 {
	border-radius: 20px;
	width: 200px;
	height: 200px;
	background-color: #30d5c8;
}

#elem3 {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	border: 1px solid green;
}